[submodule "opentofu-repo/main"]
	path = opentofu-repo/main
	url = https://github.com/opentofu/opentofu
	branch = main
[submodule "opentofu-repo/v1.6"]
	path = opentofu-repo/v1.6
	url = https://github.com/opentofu/opentofu
	branch = v1.6
[submodule "opentofu-repo/v1.7"]
	path = opentofu-repo/v1.7
	url = https://github.com/opentofu/opentofu
	branch = v1.7
[submodule "opentofu-repo/v1.8"]
	path = opentofu-repo/v1.8
	url = https://github.com/opentofu/opentofu
	branch = v1.8
[submodule "opentofu-repo/v1.9"]
	path = opentofu-repo/v1.9
	url = https://github.com/opentofu/opentofu
	branch = v1.9