swiper-pagination-bullet-active {
  background: #4b5563 !important;
  scale: 1.2 !important;
}

.dark .swiper-pagination-bullet-active {
  background: #d1d5db !important;
  scale: 1.2 !important;
}

/* Dark mode styles */
.dark .swiper-pagination-bullet {
  background: #4b5563 !important;
  width: 2rem;
  height: 2rem;
}

.swiper-pagination-bullets {
  position: relative !important;
}
