@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="dark"] {
  --ifm-color-primary: #b173ff;
  --ifm-color-primary-dark: #9c4eff;
  --ifm-color-primary-darker: #923cff;
  --ifm-color-primary-darkest: #7304ff;
  --ifm-color-primary-light: #c698ff;
  --ifm-color-primary-lighter: #d0aaff;
  --ifm-color-primary-lightest: #efe2ff;
  --ifm-background-color: theme("colors.dark1");
  --ifm-navbar-background-color: transparent;
  --ifm-heading-font-family: theme("fontFamily.sans");
  --ifm-navbar-item-padding-horizontal: 0;
}

.navbar__items {
  @apply gap-6;
}

.list-none::-webkit-details-marker {
  display: none;
}

.navbar {
  height: 96px;
  padding: 0;
}

.navbar__inner {
  @apply px-6 md:px-0 container mx-auto;
}

.navbar__logo,
.navbar__brand {
  margin: 0;
}

.navbar--fixed-top {
  position: static;
}

.navbar__logo {
  width: 123px;
  height: 48px;
}

.header-twitter-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M24 4.3C23.1 4.7 22.2 5 21.2 5.1C22.2 4.5 23 3.5 23.4 2.4C22.4 3 21.4 3.4 20.3 3.6C19.4 2.6 18.1 2 16.7 2C14 2 11.8 4.2 11.8 6.9C11.8 7.3 11.8 7.7 11.9 8C7.7 7.8 4.1 5.8 1.7 2.8C1.2 3.6 1 4.4 1 5.3C1 7 1.9 8.5 3.2 9.4C2.4 9.4 1.6 9.2 1 8.8C1 8.8 1 8.8 1 8.9C1 11.3 2.7 13.3 4.9 13.7C4.5 13.8 4.1 13.9 3.6 13.9C3.3 13.9 3 13.9 2.7 13.8C3.3 15.8 5.1 17.2 7.3 17.2C5.6 18.5 3.5 19.3 1.2 19.3C0.8 19.3 0.4 19.3 0 19.2C2.2 20.6 4.8 21.4 7.5 21.4C16.6 21.4 21.5 13.9 21.5 7.4C21.5 7.2 21.5 7 21.5 6.8C22.5 6.1 23.3 5.2 24 4.3Z' fill='%23F6F6F6'/%3E%3C/svg%3E")
    no-repeat;
}

.header-slack-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_304_111)'%3E%3Cpath d='M8.80002 0C8.1635 0 7.55306 0.252856 7.10297 0.702944C6.65288 1.15303 6.40002 1.76348 6.40002 2.4C6.40002 3.03652 6.65288 3.64697 7.10297 4.09706C7.55306 4.54714 8.1635 4.8 8.80002 4.8H11.2V2.4C11.2 1.76348 10.9472 1.15303 10.4971 0.702944C10.047 0.252856 9.43654 0 8.80002 0Z' fill='%23F6F6F6'/%3E%3Cpath d='M8.8 6.3999H2.4C1.76348 6.3999 1.15303 6.65276 0.702944 7.10285C0.252856 7.55293 0 8.16338 0 8.7999C0 9.43642 0.252856 10.0469 0.702944 10.497C1.15303 10.947 1.76348 11.1999 2.4 11.1999H8.8C9.43652 11.1999 10.047 10.947 10.4971 10.497C10.9471 10.0469 11.2 9.43642 11.2 8.7999C11.2 8.16338 10.9471 7.55293 10.4971 7.10285C10.047 6.65276 9.43652 6.3999 8.8 6.3999Z' fill='%23F6F6F6'/%3E%3Cpath d='M24 8.7999C24 8.16338 23.7471 7.55293 23.297 7.10285C22.8469 6.65276 22.2365 6.3999 21.6 6.3999C20.9634 6.3999 20.353 6.65276 19.9029 7.10285C19.4528 7.55293 19.2 8.16338 19.2 8.7999V11.1999H21.6C22.2365 11.1999 22.8469 10.947 23.297 10.497C23.7471 10.0469 24 9.43642 24 8.7999Z' fill='%23F6F6F6'/%3E%3Cpath d='M17.6 8.8V2.4C17.6 1.76348 17.3472 1.15303 16.8971 0.702944C16.447 0.252856 15.8366 0 15.2 0C14.5635 0 13.9531 0.252856 13.503 0.702944C13.0529 1.15303 12.8 1.76348 12.8 2.4V8.8C12.8 9.43652 13.0529 10.047 13.503 10.4971C13.9531 10.9471 14.5635 11.2 15.2 11.2C15.8366 11.2 16.447 10.9471 16.8971 10.4971C17.3472 10.047 17.6 9.43652 17.6 8.8Z' fill='%23F6F6F6'/%3E%3Cpath d='M15.2 24C15.8366 24 16.447 23.7471 16.8971 23.297C17.3472 22.8469 17.6 22.2365 17.6 21.6C17.6 20.9634 17.3472 20.353 16.8971 19.9029C16.447 19.4528 15.8366 19.2 15.2 19.2H12.8V21.6C12.8 22.2365 13.0529 22.8469 13.503 23.297C13.9531 23.7471 14.5635 24 15.2 24Z' fill='%23F6F6F6'/%3E%3Cpath d='M15.2 17.6H21.6C22.2366 17.6 22.847 17.3472 23.2971 16.8971C23.7472 16.447 24 15.8366 24 15.2C24 14.5635 23.7472 13.9531 23.2971 13.503C22.847 13.0529 22.2366 12.8 21.6 12.8H15.2C14.5635 12.8 13.9531 13.0529 13.503 13.503C13.0529 13.9531 12.8 14.5635 12.8 15.2C12.8 15.8366 13.0529 16.447 13.503 16.8971C13.9531 17.3472 14.5635 17.6 15.2 17.6Z' fill='%23F6F6F6'/%3E%3Cpath d='M0 15.2C0 15.8366 0.252856 16.447 0.702944 16.8971C1.15303 17.3472 1.76348 17.6 2.4 17.6C3.03652 17.6 3.64697 17.3472 4.09706 16.8971C4.54714 16.447 4.8 15.8366 4.8 15.2V12.8H2.4C1.76348 12.8 1.15303 13.0529 0.702944 13.503C0.252856 13.9531 0 14.5635 0 15.2Z' fill='%23F6F6F6'/%3E%3Cpath d='M6.40002 15.2V21.6C6.40002 22.2366 6.65288 22.847 7.10297 23.2971C7.55306 23.7472 8.1635 24 8.80002 24C9.43654 24 10.047 23.7472 10.4971 23.2971C10.9472 22.847 11.2 22.2366 11.2 21.6V15.2C11.2 14.8849 11.1379 14.5728 11.0173 14.2816C10.8967 13.9904 10.7199 13.7259 10.4971 13.503C10.2742 13.2801 10.0096 13.1033 9.71846 12.9827C9.42728 12.8621 9.1152 12.8 8.80002 12.8C8.1635 12.8 7.55306 13.0529 7.10297 13.503C6.65288 13.9531 6.40002 14.5635 6.40002 15.2Z' fill='%23F6F6F6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_304_111'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
    no-repeat;
}
