@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="dark"] {
  --ifm-color-primary: #b173ff;
  --ifm-color-primary-dark: #9c4eff;
  --ifm-color-primary-darker: #923cff;
  --ifm-color-primary-darkest: #7304ff;
  --ifm-color-primary-light: #c698ff;
  --ifm-color-primary-lighter: #d0aaff;
  --ifm-color-primary-lightest: #efe2ff;
  --ifm-background-color: theme("colors.dark1");
  --ifm-navbar-background-color: transparent;
  --ifm-heading-font-family: theme("fontFamily.sans");
  --ifm-navbar-item-padding-horizontal: 0;
  --ifm-navbar-height: theme("height.24");
  --ifm-toc-border-color: transparent;
}

.theme-doc-sidebar-menu {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-right: 20px;
}

.table-of-contents {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

body {
  @apply antialiased;
}

.list-none::-webkit-details-marker {
  display: none;
}
