/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dmsans-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dmsans-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/dmsans-bold-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/dmsans-bold-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="dark"],
html[data-theme="light"] {
  --ifm-spacing-horizontal: 0;
  --ifm-navbar-background-color: transparent;
  --ifm-heading-font-family: theme("fontFamily.sans");
  --ifm-navbar-height: 0;
  --ifm-navbar-shadow: none;
}

html[data-theme="dark"] {
  --ifm-color-primary: theme("colors.brand.500");
  --ifm-background-color: theme("colors.blue.950");
  --ifm-font-color-base: theme("colors.gray.50");
  --prism-background-color: theme("colors.gray.900");
}

html[data-theme="light"] {
  --ifm-color-primary: theme("colors.brand.700");
  --ifm-background-color: theme("colors.gray.50");
  --ifm-font-color-base: theme("colors.gray.900");
  --prism-background-color: theme("colors.gray.100");
}

body {
  @apply antialiased;
}

.list-none::-webkit-details-marker {
  display: none;
}

[data-theme="light"] .DocSearch {
  --docsearch-text-color: theme("colors.gray.600");
  --docsearch-muted-color: theme("colors.gray.600");
  --docsearch-searchbox-background: theme("colors.gray.150");
  --docsearch-highlight-color: theme("colors.gray.600");
  --docsearch-highlight-background-selected: theme("colors.gray.500");
  --docsearch-highlight-mark-color: theme("colors.brand.700");
}

[data-theme="dark"] .DocSearch {
  --docsearch-text-color: theme("colors.gray.500");
  --docsearch-muted-color: theme("colors.gray.500");
  --docsearch-searchbox-background: theme("colors.gray.800");
  --docsearch-highlight-color: theme("colors.gray.500");
  --docsearch-highlight-background-selected: theme("colors.gray.700");
  --docsearch-highlight-mark-color: theme("colors.brand.500");
}

.DocSearch .DocSearch-Button-Key {
  display: none;
}

.DocSearch .DocSearch-Hit[aria-selected="true"] a {
  background-color: var(--docsearch-highlight-background-selected);
}

.DocSearch .DocSearch-Hits mark {
  color: var(--docsearch-highlight-mark-color);
}

.link:hover {
  filter: drop-shadow(0.5px 0.5px 0.5px rgba(12, 25, 43, 1));
}

.menu-text:hover {
  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.25),
    1px -1px 0 rgba(0, 0, 0, 0.25),
    -1px 1px 0 rgba(0, 0, 0, 0.25),
    1px 1px 0 rgba(0, 0, 0, 0.25);
}

h1 {
  text-wrap: balance;
}
